@{
    ViewData["Title"] = "Create";
}
@model Employee

<form asp-controller="Home" method="post" asp-action="Create">
    <div class="form-group">
        <label asp-for="fName" for="exampleInputEmail1">FirstName</label>
        <input asp-for="fName" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter FirstName">
    </div>
    <div class="form-group">
        <label asp-for="lName" for="exampleInputPassword1">LastName</label>
        <input asp-for="lName" type="text" class="form-control" id="exampleInputPassword1" placeholder="LastName">
    </div>
    <div class="form-group">
        <label asp-for="Works[0].Name" for="exampleInputPassword1">Works name</label>
        <input asp-for="Works[0].Name" type="text" class="form-control" id="exampleInputPassword1" placeholder="LastName">
    </div>
    <div class="form-group">
        <label asp-for="Works[1].Name" for="exampleInputPassword1">Works name</label>
        <input asp-for="Works[1].Name" type="text" class="form-control" id="exampleInputPassword1" placeholder="LastName">
    </div>
    <div class="form-group">
        <label asp-for="Works[2].Name" for="exampleInputPassword1">Works name</label>
        <input asp-for="Works[2].Name" type="text" class="form-control" id="exampleInputPassword1" placeholder="LastName">
    </div>
    <div class="form-group">
        <label asp-for="test"  for="checkboxExample1">Tests</label>
        <input asp-for="test" type="checkbox"  id="checkboxExample1" placeholder="booling" />
    </div>



    <button type="submit" class="btn btn-primary">Submit</button>
</form>